.common {
  border-top: 5px solid #b0b0b0;
}

.uncommon {
  border-top: 5px solid #34c749;
}

.rare {
  border-top: 5px solid #3c7bea;
}

.epic {
  border-top: 5px solid #a33af3;
}

.legendary {
  border-top: 5px solid #f4c542;
}

.mythic {
  border-top: 5px solid #f04545;
}
 